/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.site-bar {
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.site-bar__title {
  margin-block: 0;
  color: var(--color-title);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size-title);
}

.header {
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  margin-inline-start: 10px;
  margin-inline-end: 8px;
  margin-block-start: 1px;
  margin-block-end: 60px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-inline-end: 10px;
  margin-block-start: 6px;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: row;
  justify-self: end;
  gap: 8px;
  padding-inline: 0;
  line-height: 26px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  border: none;
  color: var(--decorated-color);
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decorated-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-color);
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: start;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-title-shadow);
}

.header__text {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  margin-inline-end: 2px;
  margin-block-end: 14px;
  font-weight: 700;
  line-height: 23.4px;
  white-space: pre-line;
  inline-size: clamp(355px, calc(100% / 2 - 10px), 364px);
}

.title-decor {
  color: var(--title-decor-color);
  font-size: inherit;
  background-color: var(--accent-color);
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  justify-self: end;
  margin-block-start: 10px;
  border-inline-end: 1px solid var(--decorated-color);
  border-block-start: 1px solid var(--decorated-color);
}

.decorated-zone::before {
  justify-self: start;
  align-self: end;
  margin-block-end: 10px;
  border-inline-start: 1px solid var(--decorated-color);
  border-block-end: 1px solid var(--decorated-color);
}

.rec {
  position: absolute;
  justify-self: end;
  margin-inline-end: 9px;
  margin-block-start: 11px;
  color: var(--decorated-color);
  font-family: inherit;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--decorated-color);
  background-color: var(--decorated-color);
}
/***********main************/
.content {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline-start: 8px;
  margin-block-start: -20px;
  margin-block-end: 45px;
  line-height: 23.4px;
}

.content__heading {
  --font-weight: 700;
  margin-inline-start: 2px;
  margin-block-start: -1px;
  margin-block-end: 2px;
  color: var(--decorated-color);
  font-family: var(--font-family-main);
  font-size: inherit;
  line-height: 23.4px;
  white-space: pre-line;
}

.content__heading-alternate {
  margin-block-end: -1px;
}

.content__card-list {
  gap: 10px;
  margin-inline-start: -3px;
  margin-inline-end: 10px;
  margin-block-start: -2px;
  margin-block-end: 7px;
  padding-inline: 5px;
  font-size: inherit;
  list-style-type: none;
}

.card__title {
  margin-block-start: 20px;
}

.content_concentration {
  margin-block-end: 25px;
}

.content__heading-how-concentration {
  margin-block-start: -25px;
}

.title-decor_normal {
  margin-block-start: 20px;
  font-weight: var(--font-weight-normal);
}

.card__text {
  margin-block-start: 10px;
  margin-block-end: 20px;
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  font-size: inherit;
  line-height: 23.4px;
}

.text-link {
  color: var(--color-text);
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--color-text-link);
}

.text-link:hover {
  border-block-end: 1px solid var(--color-text-link);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 2px solid var(--color-text-link);
}
/*******************gallery*******************/
.gallery {
  margin-inline: 9px;
  margin-block-start: -2px;
  margin-block-end: 10px;
}

.gallery__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  gap: 10px;
  margin-block-start: 10px;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  justify-content: center;
  align-content: center;
  margin-inline: 9px;
  margin-block-start: -4px;
}

.footer__title {
  margin-block-start: 5px;
  text-shadow: 2px 2px 0 var(--color-title-shadow);
}
/*********************media**************/
@media (width >= 768px) {
  .header {
    margin-inline: 20px;
    margin-block-start: 3px;
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    margin-block-start: 18px;
  }

  .decorated-zone::before {
    margin-block-end: 22px;
  }

  .rec {
    margin-inline-end: 7px;
    margin-block-start: 18px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: row;
    justify-self: end;
    gap: 10px;
  }

  .header__title {
    margin-inline-start: -21px;
  }

  .header__text {
    margin-block-end: 22px;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 490px);
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 20px;
    margin-block-start: 60px;
    margin-block-end: 45px;
    line-height: 23.4px;
  }

  .content__heading {
    padding-inline-end: 10px;
  }

  .content__card-list {
    grid-column: span 2;
    gap: 1px;
    margin-inline-start: 10px;
    margin-block-start: -1px;
    margin-block-end: 0;
    font-size: inherit;
    list-style-type: none;
  }

  .content__card-list-alternate {
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-column: span 3;
    margin-inline-start: 0;
    margin-block-start: 15px;
    padding-inline: 0;
  }

  .card_type_concentration {
    margin-block-start: 5px;
  }

  .card_type_dreaming {
    margin-block-start: 20px;
  }

  .card__title {
    margin-block-start: 0px;
  }

  .gallery {
    margin-inline: 20px;
    margin-block-start: 60px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
    padding-inline-start: 0;
    list-style-type: none;
  }

  .gallery__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .footer__title {
    margin-block-start: 95px;
  }
}

@media (width >= 1024px) {
  .site-bar {
    min-height: 768px;
  }
  .site-bar__title {
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
    margin-inline-end: 0;
    margin-block-start: 15px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-self: start;
    gap: 25px;
  }

  .header__title {
    grid-row: 2;
    justify-self: start;
    align-self: start;
    margin-inline-start: -20px;
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--color-title-shadow);
  }

  .header__text {
    inline-size: clamp(491px, calc(100% / 2 - 10px), 600px);
  }

  .content__card-list {
    margin-inline-start: 0;
  }

  .content__card-list-alternate {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    margin-block-start: 18px;
    padding-inline: 0;
  }

  .content_concentration {
    margin-block-start: -5px;
    margin-block-end: 38px;
  }

  .gallery {
    margin-block-end: 60px;
  }

  .footer {
    margin-inline: 21px;
  }

  .footer__title {
    margin-block-start: -5px;
  }
}
